<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex-shrink-0 flex items-center justify-start text-white">
        <button (click)="back()" class="bg-primary focus:outline-none hover:bg-blue-700 text-white font-bold py-2 px-4 mr-6 rounded">
          Back
        </button> 
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <div class="ml-3 relative text-white text-xl">
          <h2>Nutrition Analysis</h2>  
        </div>
      </div>
    </div>
  </div>
</nav>