<div class="table   rounded-2xl  w-full">


  <div class="table w-full max-w-screen-xl mx-auto rounded mt-12 ">

    <table class=" w-full"> 
      <thead>
        <tr class="  border-opacity-30 h-12">
  
          <th class=" text-sm font-bold text-gray-400">
            <skeleton-loaders-component class=" block h-6 w-20 mx-auto"></skeleton-loaders-component>
          </th>
  
          <th class=" text-sm font-bold text-gray-400">
            <skeleton-loaders-component class=" block h-6 w-20 mx-auto"></skeleton-loaders-component>
          </th>
          <th class=" text-sm font-bold text-gray-400">
            <skeleton-loaders-component class=" block h-6 w-20 mx-auto"></skeleton-loaders-component>
          </th>
  
          <th class=" text-sm font-bold text-gray-400">
            <skeleton-loaders-component class=" block h-6 w-20 mx-auto"></skeleton-loaders-component>
          </th>
          <th class=" text-sm font-bold text-gray-400">
            <skeleton-loaders-component class=" block h-6 w-20 mx-auto"></skeleton-loaders-component>
          </th>
        </tr>
      </thead>
      <tbody class="shadow">
        <tr class="  border-opacity-30 h-12 border border-b bg-white  " *ngFor="let item of [1,2,3]">
  
          <td class="text-sm  text-tertiary text-center">
            <skeleton-loaders-component class=" block h-6 w-20 mx-auto"></skeleton-loaders-component>
          </td>
          <td class="text-sm  text-tertiary  text-center">
            <skeleton-loaders-component class=" block h-6 w-20 mx-auto"></skeleton-loaders-component>
          </td>
          <td class="text-sm text-tertiary   text-center">
            <skeleton-loaders-component class=" block h-6 w-20 mx-auto"></skeleton-loaders-component>
          </td>
  
          <td class="text-sm text-tertiary text-center">
            <skeleton-loaders-component class=" block h-6 w-20 mx-auto"></skeleton-loaders-component>
          </td>
          <td class="text-sm text-tertiary  text-center">
            <skeleton-loaders-component class=" block h-6 w-20 mx-auto"></skeleton-loaders-component> 
               </td>
       
        </tr>
      </tbody>
    </table>
  
  </div>
</div>